<div class="grid-container">
  <!-- <h1 class="mat-h1">Dashboard</h1> -->

  <mat-grid-list   [cols]="col" rowHeight="300px" >
    <mat-grid-tile *ngFor="let card of cards" colspan="1" rowspan="1">
      <mat-card class="dashboard-card" tabindex="0" role="region" (dblclick)="edit(card)">

        <mat-card-header>
          <img mat-card-avatar  src="https://material.angular.io/assets/img/examples/shiba1.jpg"  class="example-header-image">
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
           <mat-card-subtitle>{{card.type||'-'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!-- <mat-icon>place</mat-icon> Alamo 10 Ex hacienda Tierra de en medio, Atizapan, Mexico -->
          <mat-list>
            <mat-list-item >
              <mat-icon matListIcon>call</mat-icon>
              <p matLine>
                <span class="mat-body-1"> {{card.telefono}}</span>
              </p>
            </mat-list-item>
            <mat-list-item >
              <mat-icon matListIcon>email</mat-icon>
              <p matLine>
                <span class="mat-body-1"> {{card.email}}</span>
              </p>
            </mat-list-item>
          <mat-list-item >
            <mat-icon matListIcon>place</mat-icon>
            <p matLine>
              <span class="mat-typography"> {{card.dir}}</span>
            </p>
          </mat-list-item>
        </mat-list>
        </mat-card-content>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>
